nav ul{
    display: flex;
    align-items: center;
    padding:0;
    overflow:hidden;
}
nav ul li{
    display :block;
    text-align: center;
    width:100%;
}
nav{
    background-color: rgb(164, 160, 189);
    padding:10px;
}
nav ul li a{
    color: rgb(205, 221, 235);
    text-decoration:none;
    padding:10px,15px;
    display:inline-block;
}
nav ul li a:hover{
    background-color: rgb(74, 87, 201);
}
h1{
    font-size: 50px;
    font-weight: 700;
}

.div1 h1 span{

    color: brown;
}
.button1{
    background-color: rgb(155, 144, 144);
    color: rgb(245, 239, 239);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.button1:hover{
    background-color: rgb(15, 15, 15);
}
.button2{
    background-color: rgb(151, 143, 143);
    color: rgb(247, 243, 243);
    border:none;
    cursor: pointer;
    align-items: left;
    border-radius: 5px;
}
.button2:hover{
    background-color: rgb(12, 14, 14);
}
.img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
  
    margin-left: 250%;
}

.row{
    display: flex;
    margin-top: 110px;
}
.div1{
    margin-left: 20px;

}

